.container{
    width: 100%;
    height: 5%;
    .bdc-icon{
        margin: 5% 0 0 5%;
        a{
            text-decoration: none;
            color: black;
        }
    }
   .navbar{
       display: flex;
       margin: 2% 15% 0 15%;
       a{
           text-decoration: none;
           color: black;
       }

       .language{
           border: 1px solid;
           width: 20px;
           height: 20px;
           border-radius: 5px;
           font-size: small;
       }
       .person{
           width: 25px;
           height: 25px;
           border-radius: 15px;
           background-color:orange;

           svg{
               margin: 0 0 20% 18%;
           }
       }
   }
}