.container{
    width: 100%;
    height: 5%;
    position: fixed;
    
    .bdc-icon{
        margin: 5% 0 0 25%;
        
        a{
            text-decoration: none;
            color: black;
        }
    }
   
    .navbar{
       display: flex;
       margin: 2% 5% 0 25%;
       font-family: $font-Gotham;

      
       a{
           text-decoration: none;
           color: black;
       }

       #lang{
           background-color: $grey_color;
           border: 1px solid transparent;
           border-radius: 4px;
           padding: 0 4px;
           font-size: 15px;
       }

       .person{
           width: 25px;
           height: 25px;
           border-radius: 15px;
           background-color: $color_yellow;

           svg{
               margin: 0 0 20% 18%;
           }
       }
   }
}

#first{
    position: relative;
    .container{
        width: 100%;
        height: 750px;
        margin: 70px 0 0 20px;
        background-color: lightgrey;
        border-radius: 10px;
    }
    
    .mechti{
        width: 100%;
        margin: 10% 0 0 10% ;

        .buttonform{
           position: relative;
    
            img{
                width: 300px;
            }
            p{
                color: white;
                font-size: 15px;
                font-weight: 600;
                @include absolut(3px,0,0,60px)
            }
        }

        .ellipses{
            img{
                width: 40px;
                @include absolut(58px,0,0,75px);
            }
        }
         .arrowright{
             @include absolut(65px,0,0,325px);
             img{
                 width: 30px;
             }
         }

          h1{
            width: 80%;
            font-size: 4rem;
          }

          p{
            width: 80%;
            margin-top: 10px;
          }
        
          button{
            width: 200px;
            border-radius: 40px;
            background-color: $color_yellow;
            font-weight: 800;
            border: none;
            margin-top: 10px;
            padding: 5px;
          }
    }

    .social-icons{
        margin: 2% 0 0 70%;
        a{
            text-decoration: none;
            color: gray;
        }

        .fb:hover, .linkedin:hover{
            color: rgb(0, 60, 255);
        }

        .inst:hover{
            color: rgba(190, 3, 65, 0.986);
        }
        .youtube:hover{
            color: red;
        }
        .whatsapp:hover{
            color:rgb(1, 160, 1);
        }
    }

    .picture{
        img{
            width: 85%;
            height: 400px;
            margin: 0 0 0 0;
            border-radius: 15px;
        }

        // .input{
        //     text-align: center;
        //     input{
        //         margin-left: 10px;
        //     }
        // }
        .swiper {
            width: 100%;
            height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}
