$color_yellow: #FFC700;
$grey_color: #F3F3F3;
$black_color: #262626;
$red_color: #FF5E5E;

$font-Gotham: 'Gotham', sans-serif;
$font-Black: 'Gotham Black', sans-serif;
$font-Light: 'Gotham Light', sans-serif;
$font-Thin: 'Gotham Thin', sans-serif;
$font-Xlight: 'Gotham XLight', sans-serif;
$font-Book: 'Gotham Book', sans-serif;
$font-Ultra: 'Gotham Ultra', sans-serif;